{% extends 'emails/base.html.twig' %}

{% block title %}Réinitialisation de votre mot de passe - FormBuilder{% endblock %}

{% block header_title %}FormBuilder{% endblock %}

{% block content %}
    <h2>Bonjour {{ username }} !</h2>
    
    <p>Vous avez demandé une réinitialisation de mot de passe. Cliquez sur le lien ci-dessous pour le faire :</p>
    
    <div style="text-align: center; margin: 32px 0;">
        <a href="{{ resetUrl }}" class="button-primary">
            Réinitialiser mon mot de passe
        </a>
    </div>
    
    <p>Si ce n'était pas vous, vous pouvez ignorer cet email.</p>
{% endblock %}
